body {
  background-image: url("../images/nastya-friday-game-background-2.jpg");
  background-size: cover;
  /* height: 600px; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

#game-board{
  height: 800px;
  width: 800px;
  border: 1px solid rgba(255, 255,255, 0.4);
  background-color: rgba(255, 255,255, 0.7);
}

body h1{
  background-color: aquamarine;
}
