body {
  background-image: url("../images/nastya-friday-game-background-2.jpg");
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: Courier New;
}

#game-board{
  height: 600px;
  width: 800px;
  border: 1px solid rgb(255, 255, 255, 0.4);
  background-color: rgb(255, 255, 255, 0.5)
}

#timer{
  position: absolute;
  margin-top: 20px;
  color: white;
  font-family: the-font;
}

@font-face{
  font-family: the-font;
  src : url("../fonts/Timoteo.ttf");
}